*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
   background-color: #1e1e1e;
   font-family: sans-serif;
   color: #a0a0a0;
   line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 20px;
}

.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* Profile Section */
.profile{
    text-align: center;
}

.profile img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

.profile p:hover {
    background-color: #FFBF00;
    color: #1e1e1e;
}

/* Contact Section */
.contact {
    margin-top: 20px;
    border-top: 2px solid #3a3a3ad6;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.value:hover {
    text-decoration: underline;
}
.email, .Phone{
    margin-bottom: 15px;
}

/* social-media */
.social-media{
    margin-top: 20px;
    border-top: 2px solid #3a3a3ad6;
    padding-top: 20px;
    text-align: center;
}
.social-media img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    filter: grayscale(1) invert(0.7);
}
.social-media img:hover{
    filter: grayscale(0) invert(0);
}

/* main content */

/* Navigation */

.navigation{
    margin-bottom: 20px;
    border-bottom: 2px solid #3a3a3a;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    color: #a0a0a0;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color: #FFBF00;
}

.active{
    color: #FFBF00;
}

/* About me */

#about{
    margin-bottom: 40px;
}
/* About me */  /* Skills */ /* Education */
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
/* About me */  /* Skills */ /* Education */
.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

.about-para{
    text-align: justify;
}

/* Skills */

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
}

.item{
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   border: 2px solid #3a3a3a;
   background-color: #1e1e1e;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: brightness(0) saturate(100%) invert(78%) sepia(55%) saturate(1422%) hue-rotate(16deg) brightness(110%) contrast(98%);
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 15px;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(255, 191, 0, 0.6);
}

/* Education */

#Education{
    margin-top: 30px;
}

.edu-container{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    font-size: 1.2rem;
    font-weight: 500;
    color: #e0e0e0;
    margin-bottom: 5px;
}

.institution{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.learning{
    text-align: justify;
    color: #a0a0a0;
}

.edu-1 , .edu-2{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 6;
}

.ed-liner{
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 6px;
    border: 2px solid #3a3a3a;
}

/* Portfolio */

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(255, 191, 0, 0.6);
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 20px;
}

.card h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #e0e0e0;
    display: inline-flex;      /* h3 aur icon ko ek line me lane ke liye */
    align-items: center;     
    gap: 20px;                  /* name aur icon ke beech space */
    margin: 0; 
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 15px;
}

.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

.card img{
    height: 24px;
    width: 24px;
    margin-left: 190px;
    filter: grayscale(1) invert(0.7);
}
.card img:hover{
    filter: grayscale(0) invert(0);
}