*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #1e1e1e;
   font-family: sans-serif;
   color: #a0a0a0;
   line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

.main-content{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* Profile Section */
.profile{
    text-align: center;
}

.profile img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

.profile p:hover {
    background-color: #FFBF00;
    color: #1e1e1e;
}

/* Contact Section */
.contact {
    margin-top: 20px;
    border-top: 2px solid #3a3a3ad6;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.value:hover {
    text-decoration: underline;
}
.email, .Phone{
    margin-bottom: 15px;
}

/* social-media */
.social-media{
    margin-top: 20px;
    border-top: 2px solid #3a3a3ad6;
    padding-top: 20px;
    text-align: center;
}
.social-media img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    filter: grayscale(1) invert(0.7);
}
.social-media img:hover{
    filter: grayscale(0) invert(0);
}

/* main content */

/* Navigation */

.navigation{
    margin-bottom: 20px;
    border-bottom: 2px solid #3a3a3a;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    color: #a0a0a0;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color: #FFBF00;
}

.active{
    color: #FFBF00;
}